use master
go
create database Nhom14_QLMuabanLinhkienMayvitinh
go
USE [Nhom14_QLMuabanLinhkienMayvitinh]
GO
/****** Object:  Table [dbo].[Chitiethoadon]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chitiethoadon](
	[mahoadon] [varchar](255) NOT NULL,
	[masanpham] [varchar](255) NOT NULL,
	[dongia] [float] NOT NULL,
	[soluong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC,
	[masanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hoadon](
	[mahoadon] [varchar](255) NOT NULL,
	[ngaylap] [datetime] NOT NULL,
	[tongtien] [float] NULL,
	[makhachhang] [varchar](255) NULL,
	[manhanvien] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[mahoadon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khachhang]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khachhang](
	[makhachhang] [varchar](255) NOT NULL,
	[diachi] [nvarchar](255) NULL,
	[hoten] [nvarchar](255) NOT NULL,
	[sodienthoai] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loaisanpham]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loaisanpham](
	[maloai] [varchar](255) NOT NULL,
	[tenloai] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nhacungcap]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nhacungcap](
	[manhacungcap] [varchar](255) NOT NULL,
	[diachi] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[tennhacungcap] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manhacungcap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Nhanvien]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nhanvien](
	[manhanvien] [varchar](255) NOT NULL,
	[chucvu] [nvarchar](60) NULL,
	[diachi] [nvarchar](255) NULL,
	[gioitinh] [bit] NULL,
	[hodem] [nvarchar](255) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[socmnd] [nvarchar](60) NOT NULL,
	[sodienthoai] [varchar](255) NULL,
	[ten] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[manhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sanpham](
	[masanpham] [varchar](255) NOT NULL,
	[donvitinh] [nvarchar](60) NULL,
	[giaban] [float] NOT NULL,
	[giamua] [float] NOT NULL,
	[hinhanh] [varchar](255) NULL,
	[khoiluong] [nvarchar](60) NULL,
	[kichthuoc] [nvarchar](60) NULL,
	[mausac] [nvarchar](60) NULL,
	[mota] [nvarchar](1000) NULL,
	[ngaynhap] [datetime] NULL,
	[ngungkinhdoanh] [bit] NULL,
	[soluongton] [int] NOT NULL,
	[tensanpham] [nvarchar](255) NOT NULL,
	[thoigianbaohanh] [int] NULL,
	[thue] [float] NULL,
	[thuonghieu] [nvarchar](60) NULL,
	[xuatxu] [nvarchar](255) NULL,
	[maloai] [varchar](255) NULL,
	[manhacungcap] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[masanpham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Taikhoan]    Script Date: T2 04 01 2021 21:46:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Taikhoan](
	[tendangnhap] [varchar](255) NOT NULL,
	[matkhau] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tendangnhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Chitiethoadon] ([mahoadon], [masanpham], [dongia], [soluong]) VALUES (N'HD00000216', N'SP00000297', 172380, 2)
INSERT [dbo].[Chitiethoadon] ([mahoadon], [masanpham], [dongia], [soluong]) VALUES (N'HD00000299', N'SP00000278', 2743800, 4)
INSERT [dbo].[Chitiethoadon] ([mahoadon], [masanpham], [dongia], [soluong]) VALUES (N'HD00000300', N'SP00000222', 1417800, 2)
GO
INSERT [dbo].[Hoadon] ([mahoadon], [ngaylap], [tongtien], [makhachhang], [manhanvien]) VALUES (N'HD00000216', CAST(0x0000AC6700000000 AS DateTime), 344760, N'KH00000012', N'NV00000001')
INSERT [dbo].[Hoadon] ([mahoadon], [ngaylap], [tongtien], [makhachhang], [manhanvien]) VALUES (N'HD00000299', CAST(0x0000A85F00000000 AS DateTime), 10975200, N'KH00024432', N'NV00000003')
INSERT [dbo].[Hoadon] ([mahoadon], [ngaylap], [tongtien], [makhachhang], [manhanvien]) VALUES (N'HD00000300', CAST(0x0000A48700000000 AS DateTime), 2835600, N'KH00021266', N'NV00000009')
GO
INSERT [dbo].[Khachhang] ([makhachhang], [diachi], [hoten], [sodienthoai]) VALUES (N'KH00000012', N'650/3 HL2, P.Bình Trị Đông A, Q.Bình Tân', N'Nguyễn Hữu Long', N'0918414138')
INSERT [dbo].[Khachhang] ([makhachhang], [diachi], [hoten], [sodienthoai]) VALUES (N'KH00000016', N'50 Đường C12, P.13, Q,TB', N'Đặng Đình Tuấn', N'0903615722')
INSERT [dbo].[Khachhang] ([makhachhang], [diachi], [hoten], [sodienthoai]) VALUES (N'KH00000024', N'B78/63 Tôn Thất Thiết, P16, Q4_Tp.HCM', N'Phan Tấn Bữu', N'0913158856')
GO
INSERT [dbo].[Loaisanpham] ([maloai], [tenloai]) VALUES (N'LSP00000001', N'Bàn Phím Cơ.')
INSERT [dbo].[Loaisanpham] ([maloai], [tenloai]) VALUES (N'LSP00000002', N'Bàn Phím văn phòng.')
INSERT [dbo].[Loaisanpham] ([maloai], [tenloai]) VALUES (N'LSP00000003', N'Camera')
INSERT [dbo].[Nhacungcap] ([manhacungcap], [diachi], [email], [tennhacungcap]) VALUES (N'NCC00000001', N'Số 31 ngõ 100 Dịch Vọng HậuCầu Giấy, Hà Nội. (The Premier) ', N'truongquynhan@gmail.com', N'Công ty TNHH Máy Tính và Viễn Thông An Khang')
INSERT [dbo].[Nhacungcap] ([manhacungcap], [diachi], [email], [tennhacungcap]) VALUES (N'NCC00000002', N'Số 129+131 Lê Thanh Nghị, Hai Bà Trưng, Hà Nội', N'tuyetanh173@gmail.com', N'Công ty Cổ Phần Máy Tính Hà Nội - HANOICOMPUTER')
INSERT [dbo].[Nhacungcap] ([manhacungcap], [diachi], [email], [tennhacungcap]) VALUES (N'NCC00000003', N'Số 23 ngõ 131, Phố Thái Hà, Quận Đống Đa, TP Hà Nội', N'tuananhtb@gmail.com', N'Trung tâm Laptopcentre')
INSERT [dbo].[Nhanvien] ([manhanvien], [chucvu], [diachi], [gioitinh], [hodem], [ngaysinh], [socmnd], [sodienthoai], [ten]) VALUES (N'NV00000001', N'Quản Lý', N'260 Huỳnh Tấn Phát, Q.7', 1, N'Ngô Hữu ', CAST(0x0000852300000000 AS DateTime), N'038200008619', N'0903005005', N'Thọ')
INSERT [dbo].[Nhanvien] ([manhanvien], [chucvu], [diachi], [gioitinh], [hodem], [ngaysinh], [socmnd], [sodienthoai], [ten]) VALUES (N'NV00000002', N'Quản Lý', N'231/15C Tôn Thất Thuyết, P.3, Q.4', 1, N'Trương Kế', CAST(0x000083AA00000000 AS DateTime), N'038200008619', N'0903718277', N'Toàn')
INSERT [dbo].[Nhanvien] ([manhanvien], [chucvu], [diachi], [gioitinh], [hodem], [ngaysinh], [socmnd], [sodienthoai], [ten]) VALUES (N'NV00000003', N'Quản Lý', N'152 Chu Văn An, P.26, Q.BT', 1, N'Trần Thị Mai', CAST(0x00007AAF00000000 AS DateTime), N'038200008619', N'0908282136', N'Hương')
INSERT [dbo].[Sanpham] ([masanpham], [donvitinh], [giaban], [giamua], [hinhanh], [khoiluong], [kichthuoc], [mausac], [mota], [ngaynhap], [ngungkinhdoanh], [soluongton], [tensanpham], [thoigianbaohanh], [thue], [thuonghieu], [xuatxu], [maloai], [manhacungcap]) VALUES (N'SP00000001', N'cái', 3090000, 2990000, N'img\\main.png', N'100g', N'100 x 200 x 300 mm', N'xanh', N'Mainboard Asus B460-G ROG Strix Gaming', CAST(0x0000ABEE00000000 AS DateTime), 1, 4, N'Mainboard Asus B460-G ROG Strix Gaming', 36, 0.02, N'samsung', N'Việt Nam', N'LSP00000011', N'NCC00000001')
INSERT [dbo].[Sanpham] ([masanpham], [donvitinh], [giaban], [giamua], [hinhanh], [khoiluong], [kichthuoc], [mausac], [mota], [ngaynhap], [ngungkinhdoanh], [soluongton], [tensanpham], [thoigianbaohanh], [thue], [thuonghieu], [xuatxu], [maloai], [manhacungcap]) VALUES (N'SP00000002', N'cái', 2780000, 2680000, N'img\\main.png', N'100g', N'101 x 200 x 300 mm', N'xanh', N'Mainboard Asrock B460M Steel Legend ', CAST(0x0000ABEE00000000 AS DateTime), 1, 1, N'Mainboard Asrock B460M Steel Legend ', 36, 0.02, N'samsung', N'Việt Nam', N'LSP00000011', N'NCC00000001')
INSERT [dbo].[Sanpham] ([masanpham], [donvitinh], [giaban], [giamua], [hinhanh], [khoiluong], [kichthuoc], [mausac], [mota], [ngaynhap], [ngungkinhdoanh], [soluongton], [tensanpham], [thoigianbaohanh], [thue], [thuonghieu], [xuatxu], [maloai], [manhacungcap]) VALUES (N'SP00000003', N'cái', 1750000, 1650000, N'img\\main.png', N'100g', N'102 x 200 x 300 mm', N'xanh', N'Mainboard Asus H410M-E Prime', CAST(0x0000ABEE00000000 AS DateTime), 0, 27, N'Mainboard Asus H410M-E Prime', 36, 0.02, N'samsung', N'Việt Nam', N'LSP00000011', N'NCC00000001')
GO
INSERT [dbo].[Taikhoan] ([tendangnhap], [matkhau]) VALUES (N'NV00000001', N'123')
INSERT [dbo].[Taikhoan] ([tendangnhap], [matkhau]) VALUES (N'NV00000002', N'123')
INSERT [dbo].[Taikhoan] ([tendangnhap], [matkhau]) VALUES (N'NV00000003', N'123')
ALTER TABLE [dbo].[Chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FKdqrhhllsitj1a5dwv0injak2] FOREIGN KEY([mahoadon])
REFERENCES [dbo].[Hoadon] ([mahoadon])
GO
ALTER TABLE [dbo].[Chitiethoadon] CHECK CONSTRAINT [FKdqrhhllsitj1a5dwv0injak2]
GO
ALTER TABLE [dbo].[Chitiethoadon]  WITH CHECK ADD  CONSTRAINT [FKpa9b2evowwk8jlfb9um8dty0w] FOREIGN KEY([masanpham])
REFERENCES [dbo].[Sanpham] ([masanpham])
GO
ALTER TABLE [dbo].[Chitiethoadon] CHECK CONSTRAINT [FKpa9b2evowwk8jlfb9um8dty0w]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK6n220wnof294hf58vs3k1x0bb] FOREIGN KEY([makhachhang])
REFERENCES [dbo].[Khachhang] ([makhachhang])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK6n220wnof294hf58vs3k1x0bb]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK9dprxx0sk72nmiufsfk6ckjk5] FOREIGN KEY([manhanvien])
REFERENCES [dbo].[Nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK9dprxx0sk72nmiufsfk6ckjk5]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FKh7jjmttkalcudnb6ed66y07n0] FOREIGN KEY([maloai])
REFERENCES [dbo].[Loaisanpham] ([maloai])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FKh7jjmttkalcudnb6ed66y07n0]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FKjbem7pxvcawhc0vgq9lb5fvmm] FOREIGN KEY([manhacungcap])
REFERENCES [dbo].[Nhacungcap] ([manhacungcap])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FKjbem7pxvcawhc0vgq9lb5fvmm]
GO
ALTER TABLE [dbo].[Taikhoan]  WITH CHECK ADD  CONSTRAINT [FK61nk9c3vchjereuch4jeos3v8] FOREIGN KEY([tendangnhap])
REFERENCES [dbo].[Nhanvien] ([manhanvien])
GO
ALTER TABLE [dbo].[Taikhoan] CHECK CONSTRAINT [FK61nk9c3vchjereuch4jeos3v8]
GO
